n8n/flujo-leads-automatico.json
{
  "name": "Leads Automáticos - CRM Asesor (polling + WhatsApp)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "id": "b2c3d4e5-0001-4000-8000-000000000001",
      "name": "Cada 2 minutos",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1",
              "name": "supabase_url",
              "value": "https://TU-PROYECTO.supabase.co",
              "type": "string"
            },
            {
              "id": "c2",
              "name": "service_key",
              "value": "PEGA_AQUI_TU_SERVICE_ROLE_KEY",
              "type": "string"
            },
            {
              "id": "c3",
              "name": "whatsapp_phone",
              "value": "+521XXXXXXXXXX",
              "type": "string"
            },
            {
              "id": "c4",
              "name": "callmebot_apikey",
              "value": "TU_APIKEY_CALLMEBOT",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000002",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [220, 0]
    },
    {
      "parameters": {
        "url": "={{ $json.supabase_url }}/rest/v1/prospectos",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "fuente", "value": "eq.landing" },
            { "name": "n8n_procesado", "value": "is.null" },
            { "name": "select", "value": "id,nombre,telefono,producto,nota_entrada_web,user_id" },
            { "name": "limit", "value": "20" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $json.service_key }}" },
            { "name": "Authorization", "value": "=Bearer {{ $json.service_key }}" }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-0003-4000-8000-000000000003",
      "name": "Buscar Leads Nuevos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "jsCode": "// Un item de entrada por cada lead pendiente.\n// Por producto, define en qué aseguradoras se cotiza.\nconst PLAN = {\n  'Auto':           ['AXA', 'HDI', 'ABA Seguros', 'GNP'],\n  'Vida':           ['GNP', 'MetLife', 'AXA'],\n  'Gastos Médicos': ['GNP', 'AXA', 'MetLife'],\n  'Hogar':          ['AXA', 'HDI', 'GNP'],\n  'Retiro':         ['Profuturo', 'MetLife'],\n  'Empresas':       ['GNP', 'MetLife', 'AXA'],\n  'Referido':       ['GNP', 'AXA']\n};\n\nconst URLS = {\n  'AXA': 'https://axa.mx/',\n  'HDI': 'https://www.hdi.com.mx/personas/seguros-autos/',\n  'ABA Seguros': 'https://miauto.com.mx/seguros/aba',\n  'GNP': 'https://www.gnp.com.mx/',\n  'MetLife': 'https://www.metlife.com.mx/',\n  'Profuturo': 'https://www.profuturo.mx/'\n};\n\nconst salida = [];\nfor (const item of $input.all()) {\n  const p = item.json;\n  if (!p || !p.id) continue;\n  const producto = p.producto || 'Referido';\n  const aseguradoras = PLAN[producto] || PLAN['Referido'];\n\n  const rows = aseguradoras.map(a => ({\n    cliente: p.nombre,\n    producto: producto === 'Referido' ? 'Por definir' : producto,\n    aseguradora: a,\n    prima: null,\n    estado: 'Cotizando',\n    prospecto_id: p.id,\n    user_id: p.user_id\n  }));\n\n  const links = aseguradoras.map(a => `${a}: ${URLS[a] || ''}`).join('\\n');\n\n  const mensaje =\n    `NUEVO LEAD (${producto})\\n` +\n    `Nombre: ${p.nombre}\\n` +\n    `WhatsApp: ${p.telefono}\\n` +\n    `Datos: ${p.nota_entrada_web || 'sin detalles'}\\n\\n` +\n    `Cotizar en:\\n${links}`;\n\n  salida.push({ json: { id: p.id, rows, mensaje } });\n}\n\nreturn salida;"
      },
      "id": "b2c3d4e5-0004-4000-8000-000000000004",
      "name": "Preparar por Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json.supabase_url }}/rest/v1/oportunidades",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $('Config').first().json.service_key }}" },
            { "name": "Authorization", "value": "=Bearer {{ $('Config').first().json.service_key }}" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.rows) }}",
        "options": {}
      },
      "id": "b2c3d4e5-0005-4000-8000-000000000005",
      "name": "Crear Oportunidades",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 0]
    },
    {
      "parameters": {
        "url": "https://api.callmebot.com/whatsapp.php",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "phone", "value": "={{ $('Config').first().json.whatsapp_phone }}" },
            { "name": "text", "value": "={{ $('Preparar por Lead').item.json.mensaje }}" },
            { "name": "apikey", "value": "={{ $('Config').first().json.callmebot_apikey }}" }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-0006-4000-8000-000000000006",
      "name": "Avisar por WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 0]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('Config').first().json.supabase_url }}/rest/v1/prospectos",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "id", "value": "=eq.{{ $('Preparar por Lead').item.json.id }}" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $('Config').first().json.service_key }}" },
            { "name": "Authorization", "value": "=Bearer {{ $('Config').first().json.service_key }}" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ n8n_procesado: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "b2c3d4e5-0007-4000-8000-000000000007",
      "name": "Marcar Procesado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 0]
    }
  ],
  "connections": {
    "Cada 2 minutos": {
      "main": [[{ "node": "Config", "type": "main", "index": 0 }]]
    },
    "Config": {
      "main": [[{ "node": "Buscar Leads Nuevos", "type": "main", "index": 0 }]]
    },
    "Buscar Leads Nuevos": {
      "main": [[{ "node": "Preparar por Lead", "type": "main", "index": 0 }]]
    },
    "Preparar por Lead": {
      "main": [[{ "node": "Crear Oportunidades", "type": "main", "index": 0 }]]
    },
    "Crear Oportunidades": {
      "main": [[{ "node": "Avisar por WhatsApp", "type": "main", "index": 0 }]]
    },
    "Avisar por WhatsApp": {
      "main": [[{ "node": "Marcar Procesado", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}
