n8n/flujo-leads-automatico.json
{
  "name": "Leads Automáticos - CRM Asesor (oportunidad + cotizaciones + WhatsApp)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "id": "b2c3d4e5-0001-4000-8000-000000000001",
      "name": "Cada 2 minutos",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1",
              "name": "supabase_url",
              "value": "https://TU-PROYECTO.supabase.co",
              "type": "string"
            },
            {
              "id": "c2",
              "name": "service_key",
              "value": "PEGA_AQUI_TU_SERVICE_ROLE_KEY",
              "type": "string"
            },
            {
              "id": "c3",
              "name": "whatsapp_phone",
              "value": "+521XXXXXXXXXX",
              "type": "string"
            },
            {
              "id": "c4",
              "name": "callmebot_apikey",
              "value": "TU_APIKEY_CALLMEBOT",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000002",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.supabase_url }}/rest/v1/prospectos",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fuente",
              "value": "eq.landing"
            },
            {
              "name": "n8n_procesado",
              "value": "is.null"
            },
            {
              "name": "select",
              "value": "id,nombre,telefono,producto,nota_entrada_web,user_id"
            },
            {
              "name": "limit",
              "value": "20"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.service_key }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.service_key }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-0003-4000-8000-000000000003",
      "name": "Buscar Leads Nuevos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Por cada lead nuevo (modelo nuevo de la auditoría, sección 14):\n//   1. Crea UNA oportunidad \"Por diagnosticar\" (no una por\n//      aseguradora: eso distorsionaba pipeline y métricas).\n//   2. Crea N cotizaciones \"Pendiente\" anidadas, una por\n//      aseguradora sugerida según el producto, con su link.\n//   3. Avisa al asesor por WhatsApp (CallMeBot).\n//   4. Marca el lead como procesado (n8n_procesado).\n// Si un lead falla a mitad, NO se marca procesado: se reintenta\n// en el siguiente ciclo (los inserts duplicados posibles son\n// visibles y borrables desde Ventas).\n// ============================================================\nconst config = $('Config').first().json;\n\nconst PLAN = {\n  'Auto':           ['AXA', 'HDI', 'ABA Seguros', 'GNP'],\n  'Vida':           ['GNP', 'MetLife', 'AXA'],\n  'Gastos Médicos': ['GNP', 'AXA', 'MetLife'],\n  'Hogar':          ['AXA', 'HDI', 'GNP'],\n  'Retiro':         ['Profuturo', 'MetLife'],\n  'Empresas':       ['GNP', 'MetLife', 'AXA'],\n  'Referido':       ['GNP', 'AXA']\n};\n\nconst URLS = {\n  'AXA': 'https://axa.mx/',\n  'HDI': 'https://www.hdi.com.mx/personas/seguros-autos/',\n  'ABA Seguros': 'https://miauto.com.mx/seguros/aba',\n  'GNP': 'https://www.gnp.com.mx/',\n  'MetLife': 'https://www.metlife.com.mx/',\n  'Profuturo': 'https://www.profuturo.mx/'\n};\n\nconst headers = {\n  apikey: config.service_key,\n  Authorization: `Bearer ${config.service_key}`,\n  'Content-Type': 'application/json',\n};\n\nconst salida = [];\nfor (const item of $input.all()) {\n  const p = item.json;\n  if (!p || !p.id) continue;\n  const producto = p.producto || 'Referido';\n  const aseguradoras = PLAN[producto] || PLAN['Referido'];\n\n  try {\n    // 0. IDEMPOTENCIA: si un intento anterior ya creó la oportunidad\n    //    (y falló después, p.ej. en el WhatsApp), se reutiliza en vez\n    //    de duplicar. El reintento es seguro.\n    const existentes = await this.helpers.httpRequest({\n      method: 'GET',\n      url: `${config.supabase_url}/rest/v1/oportunidades?prospecto_id=eq.${p.id}&select=id&limit=1`,\n      headers,\n      json: true,\n    });\n    let oportunidadId;\n    let creadaAhora = false;\n\n    if (Array.isArray(existentes) && existentes.length > 0) {\n      oportunidadId = existentes[0].id;\n    } else {\n      // 1. UNA oportunidad por lead\n      const ops = await this.helpers.httpRequest({\n        method: 'POST',\n        url: `${config.supabase_url}/rest/v1/oportunidades`,\n        headers: { ...headers, Prefer: 'return=representation' },\n        body: [{\n          cliente: p.nombre,\n          producto: producto === 'Referido' ? 'Por definir' : producto,\n          estado: 'Por diagnosticar',\n          prospecto_id: p.id,\n          user_id: p.user_id,\n        }],\n        json: true,\n      });\n      oportunidadId = Array.isArray(ops) ? ops[0].id : ops.id;\n      creadaAhora = true;\n    }\n\n    // 2. Cotizaciones pendientes por aseguradora (anidadas).\n    //    IDEMPOTENCIA: solo si la oportunidad aún no tiene ninguna.\n    const cotsExistentes = await this.helpers.httpRequest({\n      method: 'GET',\n      url: `${config.supabase_url}/rest/v1/cotizaciones?oportunidad_id=eq.${oportunidadId}&select=id&limit=1`,\n      headers,\n      json: true,\n    });\n    if (!Array.isArray(cotsExistentes) || cotsExistentes.length === 0) {\n      await this.helpers.httpRequest({\n        method: 'POST',\n        url: `${config.supabase_url}/rest/v1/cotizaciones`,\n        headers: { ...headers, Prefer: 'return=minimal' },\n        body: aseguradoras.map(a => ({\n          oportunidad_id: oportunidadId,\n          aseguradora: a,\n          estado: 'Pendiente',\n          url_cotizador: URLS[a] || null,\n          user_id: p.user_id,\n        })),\n        json: true,\n      });\n    }\n\n    // 3. Línea de tiempo: solo si la oportunidad se creó en este intento\n    //    (un reintento no duplica la actividad).\n    if (creadaAhora) await this.helpers.httpRequest({\n      method: 'POST',\n      url: `${config.supabase_url}/rest/v1/actividades`,\n      headers: { ...headers, Prefer: 'return=minimal' },\n      body: [{\n        user_id: p.user_id,\n        prospecto_id: p.id,\n        oportunidad_id: oportunidadId,\n        tipo: 'oportunidad_creada',\n        descripcion: `Automático (n8n): oportunidad ${producto === 'Referido' ? 'Por definir' : producto} con ${aseguradoras.length} cotizaciones pendientes`,\n      }],\n      json: true,\n    });\n\n    // 4. Aviso por WhatsApp\n    const links = aseguradoras.map(a => `${a}: ${URLS[a] || ''}`).join('\\n');\n    const mensaje =\n      `NUEVO LEAD (${producto})\\n` +\n      `Nombre: ${p.nombre}\\n` +\n      `WhatsApp: ${p.telefono}\\n` +\n      `Datos: ${p.nota_entrada_web || 'sin detalles'}\\n\\n` +\n      `Se creó 1 oportunidad con ${aseguradoras.length} cotizaciones pendientes.\\n` +\n      `Cotizar en:\\n${links}`;\n    await this.helpers.httpRequest({\n      method: 'GET',\n      url: 'https://api.callmebot.com/whatsapp.php',\n      qs: {\n        phone: config.whatsapp_phone,\n        text: mensaje,\n        apikey: config.callmebot_apikey,\n      },\n    });\n\n    // 5. Marcar procesado (solo si todo lo anterior funcionó)\n    await this.helpers.httpRequest({\n      method: 'PATCH',\n      url: `${config.supabase_url}/rest/v1/prospectos?id=eq.${p.id}`,\n      headers: { ...headers, Prefer: 'return=minimal' },\n      body: { n8n_procesado: new Date().toISOString() },\n      json: true,\n    });\n\n    salida.push({ json: { lead: p.id, ok: true, oportunidad: oportunidadId, cotizaciones: aseguradoras.length } });\n  } catch (e) {\n    salida.push({ json: { lead: p.id, ok: false, error: String(e && e.message || e) } });\n  }\n}\n\nreturn salida.length ? salida : [{ json: { ok: true, mensaje: 'Sin leads pendientes' } }];"
      },
      "id": "b2c3d4e5-0010-4000-8000-000000000010",
      "name": "Procesar Leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        0
      ]
    }
  ],
  "connections": {
    "Cada 2 minutos": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Buscar Leads Nuevos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Leads Nuevos": {
      "main": [
        [
          {
            "node": "Procesar Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}